<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#homeCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#homeCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#homeCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
  
    <!-- Slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.unsplash.com/photo-1542291026-7eec264c27ff"
          class="d-block w-100"
          alt="Men's Collection"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Men’s Collection</h5>
          <p>Latest fashion for modern men</p>
          <button class="btn btn-warning">Shop Now</button>
        </div>
      </div>
  
      <div class="carousel-item">
        <img
        src="https://images.pexels.com/photos/31874446/pexels-photo-31874446.jpeg"
          class="d-block w-100"
          alt="Women's Fashion"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Women’s Fashion</h5>
          <p>Elegant styles that inspire confidence</p>
          <button class="btn btn-warning">Explore</button>
        </div>
      </div>
  
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1591604466107-ec97de577aff"
          class="d-block w-100"
          alt="Mens's Fashion"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Mens Collection</h5>
          <p>Trendy outfits for your some one</p>
          <button class="btn btn-warning">Discover</button>
          jigerz_22408
        </div>
      </div>
    </div>
  
    <!-- Controls -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#homeCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#homeCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
