.carousel-item {
    height: 90vh; /* covers full display screen */
    overflow: hidden; /* remove scroll */
    justify-content: center;
    align-items: center;
    background: #000;
    
    
}

.carousel-item img {
   max-height: 90vh;
    width: auto;
    object-fit:cover ; /* fill entire screen */
    object-position: center; /* keep image centered */
    filter: brightness(80%);
}


  
  /* Text overlay styling */
  .carousel-caption {
    bottom: 5%;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
  }
  
  .carousel-caption h5 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffcc00;
  }
  
  .carousel-caption p {
    font-size: 1.2rem;
    color: #fff;
  }
  
  /* Buttons */
  .carousel-caption .btn {
    border-radius: 25px;
    font-weight: 600;
    transition: all 0.2s;
  }
  
  .carousel-caption .btn:hover {
    background-color: #fff;
    color: #000;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .carousel-caption {
      bottom: 10%;
      padding: 10px;
    }
  
    .carousel-caption h5 {
      font-size: 1.5rem;
    }
  
    .carousel-caption p {
      font-size: 1rem;
    }
  }
  